*{
    padding: 0px;
    margin: 0px;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

:root{
    --bg-primary: rgb(119, 185, 174);
    --bg-board: rgb(255, 255, 255);
    --bg-cell: rgb(243, 243, 243);
    --title: rgba(0, 0, 0, 0.295);
    --marker: rgba(0, 0, 0, 0.247);
    --x: rgb(95, 255, 228);
    --bg-x: rgb(143, 242, 255);
    --o: rgb(144, 255, 110);
    --bg-o: rgb(185, 255, 164);


    /*Dark Test*/
    --bg-primary: rgb(46, 36, 68);
    --bg-board:  rgb(76, 60, 112);
    --bg-cell:  rgb(98, 78, 143);
    --x: rgba(95, 106, 255, 0.712);
    --bg-x: rgba(143, 145, 255, 0.712);
    --o: rgba(202, 110, 255, 0.705);
    --bg-o: rgba(214, 164, 255, 0.699);
    --title: rgb(118, 93, 172);
    --marker: rgba(0, 0, 0, 0.479);
}

body{
    background-color: var(--bg-primary);
    height: 100vh;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
}

.title{
    color: var(--title);
    font-size: 4rem;
    font-weight: 700;
    display: flex;
    justify-content: center;
    padding: 40px;
    padding-bottom: 20px;
    letter-spacing: -1px;
}

.gameboard{
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    height: clamp(300px, 50vw, 450px);
    width: clamp(300px, 50vw, 450px);
    font-size: 50px;
    border-radius: 12px;
    overflow: hidden;
    padding: 10px;
    gap: 10px;
    background-color: var(--bg-board);
    user-select: none;

    /* box-shadow: 2px 2px 15px var(--bg-board); */
}

.cell{
    background-color: var(--bg-cell);
    border-radius: 12px;
    font-size: 3.5rem;
    font-weight: 800;
    display: grid;
    place-content: center;
    color: var(--marker);
    position: relative;
}

.cell[mark='X']{
    background-color: var(--bg-x);
    box-shadow: inset 1px 1px 15px;
}

.cell[mark='O']{
    background-color: var(--bg-o);
    box-shadow: inset 2px 2px 15px;
}

.turn-indicator{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    margin-bottom: 40px;
}

.turn-main{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    font-size: 30px;
    font-weight: 600;
    letter-spacing: -.5px;
    background-color: var(--bg-x); 
    color: var(--turn);
    padding: 4px 20px;
    border: 3px solid var(--marker);
    color: var(--marker);
    user-select: none;
}

.symbol{
    font-weight: 900;
    color: var(--marker);
}

.turn-main[turn='O']{
    background-color: var(--bg-o);
}

.turn-indicator:has(.turn-main[turn='O']) ~ .gameboard > .cell[mark='']:hover{
    background-color: var(--bg-o);
    transition: all 0.2s;
    box-shadow: inset 1px 1px 15px;
}

.turn-indicator:has(.turn-main[turn='X']) ~ .gameboard > .cell[mark='']:hover{
    background-color: var(--bg-x);
    transition: all 0.2s;
    box-shadow: inset 1px 1px 15px;
}

